.banner {
  text-align: center;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  background-color: var(--bg-color);
  background-image: url("../assets/nick/imagen-banner-dos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 20px;
  top: 20px;
  left: 20px;
  right: 20px;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;

  p.heading-3 {
    font-size: 20px;
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    padding: 10px;
    border-radius: 5px;
  }
}

/*
@media screen and (width > 768px) {
  .image {
  
  }
}*/