:root {
  --main-text-color: rgb(4, 116, 212);
  --bg-color: #FFF;
  --main-brand-color: rgb(247, 236, 76);
  --main-brand-color-light: #f9f2b4;
  --border-color: #398ccc;
  --input-bg-color: #ade5fb;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main {
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
}

.main-bg {
  background-color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
  background-color: var(--bg-color);
  color: rgb(0, 0, 0);
  color: rgb(247, 236, 76);
  color: #398ccc;
  color: var(--main-text-color);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  text-align: justify;
}

p {
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.section-padding {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (width > 768px) {
  .hide {
    display: block;
  }

  .section-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

figure {
  margin: 0;
}