.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  gap: 20px;
  padding: 5px;

  img {
    width: 100%;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  background-color: var(--main-brand-color);
}

.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 10%;
  }

  100% {
    opacity: 100%;
  }
}